.footer {
  width: 100vw;
  margin-left: calc(50% - 50vw);

  margin-top: 48px;
  padding: 18px 0;
  text-align: center;

  background-color: #14100c;
  border-top: 2px solid #b88a2a;
}

.footer__text {
  margin: 0;
  font-size: 14px;
  opacity: 0.7;
}
