.header {
  width: 100vw;
  margin-left: calc(50% - 50vw);

  padding: 24px 16px;
  margin-bottom: 24px;
  text-align: center;

  background-color: #1f1a14;
  border-bottom: 2px solid #b88a2a;
}

.header__title {
  margin: 0;
  font-size: 36px;
}

.header__subtitle {
  margin-top: 10px;
  opacity: 0.85;
}
